table {
    font-family: arial, sans-serif;
    /* border-collapse: collapse; */
    border: none !important;
    width: 100%;
}

td,
th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
}
/* 
.itscCarousel {
  color: red !important;
} */